<section
  class="new-training"
  fxLayout
  fxLayoutAlign="center"
  fxLayoutGap="20px"
>
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">
      Welcome to Fibonacci Generator!
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <div
        class="welcome"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px"
        fxLayoutAlign="center center"
      >
        <section>
          <p>Plunge into the Fibonacci universe!</p>
        </section>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button routerLink="/calculate">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
