<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px"
                fxLayoutAlign="center center">
                <section>
                    <h1>ACTIVITY</h1>
                    <p>Stay active and enjoy better health and more fun!</p>
                </section>
                <section>
                    <h1>COMMUNITY</h1>
                    <p>Get to know other people who share your passion!</p>
                </section>
                <section>
                    <h1>CHALLENGES</h1>
                    <p>Never stop! Dive into new challenges every day</p>
                </section>
            </div>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-button>Start</button>
        </mat-card-actions>
    </mat-card>
</section>
